<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:list-style-type="http://www.w3.org/1999/xhtml">
<head>
    <title>Shop Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<div class="fluid-container">
    <nav>
        <div th:replace="~{my-menu :: mymenu(Products)}">
        </div>
    </nav>
</div>

<div class="container" th:with="curPage=${#httpServletRequest.getParameter('page')} ?: 1 ">

    <br>
    <h1>@GeekMarket</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>Товар</th>
            <th>Категория</th>
            <th>Цена</th>
            <th>Удаление</th>
        </tr>
        </thead>
        <tr class="responsive-row" th:each="product : ${products}">
            <td th:text="${product.id}"/>
            <td th:text="${product.title}"/>
            <td th:text="${product.id_category.category}"/>
            <td th:text="${product.price}"/>
            <td>
               <a  class="btn btn-danger" th:href="@{'remove/' + ${product.id} + '?page='+ ${curPage}}"
                  role="button">Remove</a>
            </td>
        </tr>
    </table>
    <center class="fluid-container">
<!--        Можно было еще добавить условие проверки количества страниц, но пока не стал-->
            <nav>
                <div th:replace="~{pages}">
                </div>
            </nav>
    </center>
</div>

</body>
</html>